.baseIconButton {
  padding-inline: 0;
}

.xsIconButton {
  composes: baseIconButton;
  height: 1.5rem;
  width: 1.5rem;
}

.sIconButton {
  composes: baseIconButton;
  height: 2rem;
  width: 2rem;
}

.mIconButton {
  composes: baseIconButton;
  height: 2.5rem;
  width: 2.5rem;
}

.lIconButton {
  composes: baseIconButton;
  height: 3rem;
  width: 3rem;
}

.roundIconButton {
  border-radius: 50%;
}
